<div class="row no-gutters">
    <div class="col-4 align-self-center">
        <!-- <button class="btn  btn-link text-dark menu-btn" (click)="toggleSidebar()"><img src="assets/images/menu.png"
                alt=""></button><button class="btn btn-xs btn-rounded" (click)="toggleSidebar()">STORE</button> -->
    </div>
    <div class="col-4 text-center"><img
                src="{{environment.url}}images/logo.png?ver=1" alt="" class="header-logo"></div>
    <!-- <div class="col-4 align-self-center" style="text-align:right">

        <a routerLink="/profile" [routerLinkActive]="['active']" class="btn  btn-link text-dark" queryParamsHandling="merge"><i
                class="material-icons">account_circle</i></a>
    </div> -->
</div>
