<br>
<div class="row mx-0">
    <div class="col">
        <!-- <div class="card mb-3 border-0 shadow-sm bg-template-light">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="text-secondary small mb-0">Store Selected</p>
                        <h6 class="text-dark my-0">{{storeSelected}}</h6>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-warning" (click)="toggleSidebar()" routerLink="/choosestore"
                            routerLinkActive="router-link-active" queryParamsHandling="merge">
                            CHANGE</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-sm btn-success" href="https://tawk.to/fps" target="_blank">
                            CHAT SUPPORT </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-sm btn-primary" (click)="installApp()">Install App</a>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Navigation menu sidebar -->
    </div>
</div>
